@media screen and (max-width:700px){
  header .container{
    display:flex;
    flex-direction: column;
  }
  .botao{
    margin-top: 5px;
    width:190px;
    height:60px;
    
  }
  .videos{
    height:250px;
    width:350px;
}
.titulo-texto-filmes{
 
  font-size: 25px;
}
}

@media screen and (min-width:1000px){
  .descrição{
    width: 50%;
  }
}

/*  pg-filmes
videos
videos-ex      */